*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: red dashed 2px;
    /* regola di test  */
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
/* inizio navbar */
#navbar
{
    background-color: #0084FD;
    color: white;
    margin-bottom: 50px;
    padding-top:18px ;
    padding-bottom: 22px;
    

}
.container_section_navbar
{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar #section_left_navbar{
    
    
    padding-left: 35px;
    
}
#navbar #section_right_navbar{
    /* display: flex; */
    padding-right: 35px;
}
#navbar #section_right_navbar a{
    color: white;
}
/* inizio sezione da inserire quando modificheremo css per display big  */
.menu_a_scomparsa
{
    display: none;
    align-items: center;

}
.menu_a_scomparsa > div
{
    padding-right: 32px;
}
.menu_a_scomparsa a
{
    padding: 10px;
    border-radius: 5px;
    color: black;
    

} 
/* fine sezione da inserire quando modificheremo css per display big  */

/* fine navbar */
/* inizio sezione cards  */
#cards{
    
    
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
.conteiner.cards
{   
    max-width: 310px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

}
.tool
{   
    width:100%;
    
    /* test da cancellare */
    background-color: #B5DDFF;
    border-radius: 15px;

}
.conteiner.cards .tool:nth-of-type(1)
{

    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;


}
.conteiner.cards .tool h2
{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    color:#0385FD ;
    text-align: center;

}
.conteiner.cards .tool:nth-of-type(1) div:nth-of-type(1) p
{
    padding-bottom: 38px;
    text-align: center;
}
.conteiner.cards .tool p
{
    padding-bottom: 40px;
    text-align: center;
}
.conteiner.cards .tool:nth-of-type(1) div:nth-of-type(1) div
{
    display: flex;
    justify-content: center;
    
    
}
.conteiner.cards .tool:nth-of-type(1) div:nth-of-type(1) a
{
    
    padding: 16px 50px 16px;
    display: flex;
    justify-content: center;
    background-color: #0385FD;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    gap: 12px;
    max-width: 214px;
    margin-bottom: 40px;
}
.conteiner.cards .tool:nth-of-type(1) div:nth-of-type(2) img
{
    width: 100%;
    max-width: 800px;
}
.simbol_cards
{
    color:#0084FD;
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

/* fine sezione cards  */
/* inizio sezione planning  */
#planning{
    background-color: #9792E4;
    margin-top: 80px; ;
    margin-bottom:65px ;
    display: flex;
    justify-content: center;
}
#container_planning
{
    max-width: 328px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
#head_planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
#head_planning div:nth-of-type(1)
{
    margin-bottom: 100px;
}
#head_planning div:nth-of-type(1) img
{
    width: 100%;
    max-width: 880px;
}
#head_planning h2
{
    margin-bottom: 62px;
    font-size: 27px;
}
#head_planning h2, #head_planning p
{
    color: white;
}
#footer_planning
{ 
    display: flex;
    justify-content: center;
    padding-bottom: 62px;

}
#conteiner_footer_planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-radius: 10%;
}

#footer_planning #conteiner_footer_planning img
{
    width: 100%;
    margin-bottom: 20px;
}
#footer_planning h3
{
    font-size: 20px;
    margin-bottom: 30px;
}
#footer_planning p
{
    margin-bottom: 40px;
}
#footer_planning .fa-solid
{
    background-color: #9792E4;
    padding: 20px;
    border-radius: 30px; 
}

/* fine sezione planning   */
/* inizio sezione partners  */
#partners
{ 
    display: flex;
    flex-direction:column;
    align-items: center;


}
#partners span
{
    font-size: 14px;
    margin-bottom: 40px;
}
#partners h2
{
    color: #9792E4;
    font-size: 27px;
    text-align: center;
    margin-bottom: 50px;
}
#partners p:nth-of-type(1)
{
    font-size: 16px;
    text-align: center;
    
}
.card{

    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    /* da togliere quando usciamo dal mobile  */
    background-color: #9792E4;
    margin-bottom: 34px;
    margin-top: 60px;
    border-radius: 20px;
    max-width: 310px;
}
.immage_partners
{
    margin-top:30px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}
.immage_partners img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.container_text_img
{
    display: flex;
    margin-bottom: 38px;
}
.card .fa-solid
{
    font-size: 18px;
    color: white;
}
.card .container_text_img #testo_immagine
{
    font-size: 16px;
    color: white;
    text-align: center;
}
#quote_right
{
    display: flex;
    align-items: flex-end;
}
.card span
{
    color: white;
}

/* fine sezione partners  */
/* inizio sezione benefits  */
#benefits{
    background-color:#9792E4;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 74px;
    margin-bottom: 95px;
}
#benefits h2
{
    font-size: 28px;
    margin-top: 74px;
    margin-bottom: 74px;
    text-align: center;

}
#conteiner_cards_benefits{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 312px;
    flex-direction: column;
}
.benefit{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #9792E4;
    background-color: white;
    padding: 34px 34px 32px;
    border-radius: 15px;
}
.benefit h3
{
    font-size: 36px;
    padding-top: 16px;
    padding-bottom: 40px;
}
.benefit span
{
    color: #9792E4;
    font-size: 24px;
    padding-bottom: 35px;
}
.benefit p{
    padding-bottom: 32px;
}
#conteiner_cards_benefits .benefit a
{
    color: white;
    background-color: #9792E4;
    border-radius: 10px;
    text-decoration: none;
    padding: 17px 50px 17px;
    border-radius: 30px;
}


/* fine sezione benefits   */
/* inizio sezione about us  */
#about_us
{
    display: flex;
    justify-content: center;
}
#container_aboutus
{
    max-width: 312px;
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
}
#container_aboutus .container.head
{
    width: 100%;
}
#container_aboutus .container.head h2
{
    color:#9792E4;
    margin-bottom: 60px;
    font-size: 35px;
}
#container_aboutus p
{
    line-height: 20px;
}
#container_aboutus .container.head p:nth-of-type(1)
{
    margin-bottom: 75px;
}
#container_aboutus .container.head p:nth-of-type(2)
{
    margin-bottom: 60px;
}

/* fine sezione about us   */
/* inizio sezione free  */
#free{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9792E4;
    color: white;
}
#free .conteiner.free
{
    display: flex;
    flex-direction: column;
    margin-top:68px ;
    margin-bottom: 66px;
    max-width: 312px;
    align-items: center;
}
#free .conteiner.free span
{
    display: flex;
    color: white;
    font-size: 14px;
    gap: 5px;
    
}
#free .conteiner.free span:nth-of-type(1)
{
    margin-bottom: 30px;
}
#free .conteiner.free h3
{
    color: white;
    font-size: 28px;
    margin-bottom: 50px;
}
#free .conteiner.free h2
{
    color: #FDC15F;
    font-size: 65px;
    margin-bottom: 50px;
}
#free .conteiner.free p
{
    text-align: center;
    margin-bottom: 36px;
}
.button_free
{
    padding: 30px 80px 30px;
    background-color: white;
    color: #9792E4;
    border-radius: 30px;
    margin-bottom: 36px;
    
}
.button_free a
{
    text-decoration: none;
}
#free .conteiner.free span a
{
    color: white;
}

/* fine sezione free   */
/* inizio sezione footer   */
#footer
{
    background-color: #333333;

}

/* fine sezione footer   */
/* inizio media querty tablet */
@media screen and (min-device-width: 481px) and (max-device-width: 768px) 
{ 
    /* inizio stilizzazione cards  */
    .tool
    {
        width: 30%;
    }
    .conteiner.cards{
        max-width: 750px;
    }
    .conteiner.cards .tool:nth-of-type(1)
    {
        width: 60%;
    }
    /* fine stilizzazione cards  */
    /* inizio stilizzazione planning  */
    #container_planning
    {
        max-width: 724px;
    }
    /* fine stilizzazione planning  */
    /* inizio stilizzazione benefits  */
    #conteiner_cards_benefits
    {
        max-width: 750px;
        flex-direction: row;
        justify-content: center;
    }
    .benefit
    {
        width: calc(50% - 30px);
    }
    /* fine stilizzazione benefits  */
    /* inizio stilizzazione free  */
    #free .conteiner.free
    {
        max-width: 565px;
    }
    /* fine stilizzazione free  */
}
/* fine media querty tablet */
/* inizio media querty da laptop a deckstop */
@media screen and (min-device-width: 769px)
{
    /* inizio stilizzazione navbar  */
    #navbar
    {
        
        margin: 0px auto 50px;
    }
    #navbar #section_right_navbar a
    {
        /* display: none; */
    }
    .menu_a_scomparsa
    {
        display: flex;
    }
    /* fine stilizzazione navbar  */
    
    /* inizio stilizzazione cards  */
    .tool
    {
        width: 30%;
    }
    .conteiner.cards{
        max-width: 1140px;
    }
    .conteiner.cards .tool:nth-of-type(1)
    {
        width: 60%;
        flex-wrap: nowrap;
    }
    .conteiner.cards .tool:nth-of-type(1) div:nth-of-type(2)
    {
        display: flex;
        align-items: flex-end;
    }
     /* fine stilizzazione cards  */
     /* inizio stilizzazione planning*/
     #container_planning
     {
        max-width: 905px;
        flex-direction: row;
        padding: 105px 0 62px;
     }
     #conteiner_footer_planning
     {
        max-height: 558px;
     }
     #footer_planning
     {
        align-items: flex-end;
        padding-bottom: 0px;
     }
     /* fine stilizzazione planning*/
     /* inizio stilizzazione benefits  */
    #conteiner_cards_benefits
    {
        max-width: 1140px;
        flex-direction: row;
        justify-content: center;
    }
    .benefit
    {
        width: 30%;
    }
    /* fine stilizzazione benefits  */
    /* inizio stilizzazione free  */
    #free .conteiner.free
    {
        max-width: 565px;
    }
    /* fine stilizzazione free  */
    
} 
/* fine media querty da laptop a deckstop */
