*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: red dashed 2px;
    /* regola di test  */
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
/* inizio navbar */
#navbar
{
    
    height: 78px;
    /* regola di test  */
    background-color: #0084FD;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 50px;
    

}
#navbar div:nth-of-type(1){
    
    
    padding-left: 35px;
    
}
#navbar div:nth-of-type(2){
    
    padding-right: 35px;
}
/* fine navbar */
/* inizio sezione cards  */

/* fine sezione cards  */
/* inizio sezione planning  */
#planning{
    background-color: #9792E4;
    margin-top: 80px; ;
    margin-bottom:65px ;
}
#head_planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 35px;
}
#head_planning div:nth-of-type(1){
    width:310px ;
    height: 300px;
    background-color: blue;
    /* test da cancellare, inserite per vedere spazi  */
}
#footer_planning
{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 62px;
    background-color: white;
    /* da ritornare su questo punto  */

}
#footer_planning div:nth-of-type(1){
    width:265px ;
    height: 285px;
    background-color: blue;
    /* test da cancellare, inserite per vedere spazi  */
}

/* fine sezione planning   */